.container-fluid{font-family: "Lato"; margin:0; padding: 50px;}
#myKanban{overflow-x: auto; padding:20px 0;}

.success{background: #00B961; color:#fff}
.info{background: #2A92BF; color:#fff}
.warning{background: #F4CE46; color:#fff}
.error{background: #FB7D44; color:#fff}
body{
 background-image: url("imgs/fl.png");

}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
   
}

#mainNavbar .nav-link {
    color: white;
    
}


#mainNavbar .nav-link:hover {
    color: #172B4D;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2.5rem;
}

.navbar.scrolled {
    background: rgb(0,121,191);
    transition: background 500ms;
}
.listlink:link, .listlink:visited {
	
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.listlink:hover, .listlink:active {
  background-color: red;
}